


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url("https://i.pinimg.com/736x/06/3e/42/063e426fb1f1402d0aa06eb837a9bc9b.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.avatar{
  border-radius: 50%;
  height: 90px;
}
.card{
  width: fit-content;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
}



.counter {
  width: fit-content;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  float: left;
}

.hover {
  background: #ffffd8;
  color: black;
}

